---
layout: default
---
<div>
{% for post in site.posts limit: 10 %}
    <div>
        <h2><a href=".{{ post.url }}">{{ post.title }}</a></h2>
        <img class="rounded float-left" src=".{{ post.image }}"/>
        <p class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</p>
        <p>{{ post.description }}</p>
        <p>{% for tag in post.tags limit: 10 %}<span class="badge badge-secondary">{{ tag }}</span> {% endfor %}</p>
        <p class="clearfix"></p>
    </div>
{% endfor %}
{% for post in site.posts offset: 10 %}
    <div>
        <h2><a href=".{{ post.url }}">{{ post.title }}</a></h2>
    </div>
{% endfor %}
</div>
